<div id="<%= dom_id inventory %>">
  <p>
    <strong>Product name:</strong>
    <%= inventory.product_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= inventory.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= inventory.type %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= inventory.vendor %>
  </p>

</div>
